article.post .post-photo-container img { width: 100%; height: auto; }

article.post header > div.post-header-left { height: 60px; padding: 16px; text-align: center; }

article.post header > div.post-header-left span { line-height: 60px; vertical-align: middle; }
